html {
    font-family: Helvetica;
    background-color: #ddd;
}

.container {
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

.bold {
    font-weight: bold;
    }

    /* HEARDER - TITULO DO CORPO DO SITE*/

    .header {
        text-align: center;
    }

    .main-title {
        font-size: 40px;
    }

    /* ALINHANDO IMAGENS */

    .featured-image {
        text-align: center;
        margin-top: 30px;
    }

    .biography-container {
        padding: 25px 0px;
        margin: 25px 0px;
        border-top: 1px dashed #ddd;
        border-bottom: 1px dashed #ddd;
    }

    .img-bold {
        text-align: center;
        margin-top: 30px;
    }

    /* FONTES */

    .quotes-container {
        background-color: #ddd;
        padding: 30px;
    }

    .quotes-container blockquote {
        font-weight: bold;
        font-size: 30px;
    }

    .quotes-container p {
        font-style: italic;
    }

    .curiosities-container {
        padding: 25px 0;
        margin: 25px 0;
        border-top: 1px dashed #ddd;
        border-bottom: 1px dashed #ddd;
    }

    .curiosities-container li {
        padding: 10px 0;
        margin: 10px 0;
        border-top: 1px dashed #ddd;
        border-bottom: 1px dashed #ddd;
    }